:root {
    --primary-color: #031D44;
    --secondary-color: #0076B6;
    --third-color: #70A288;
    --fourth-color: #DAB785;
    --fifth-color: #D5896F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita" , sans-serif;
}

header{
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
    padding: 9px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px;
}

.header h1 {
    color: white;
}

main {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 40px;
    margin-left: 40px;
}

form {
    margin-top: 4rem;
    border: 1px solid gray;
    background-color: #D5CDD5;
}

fieldset {
    border-style: none;
    margin: 5%;
}

#selectaproduct {
    display: block;
    width: 100%;
    padding: .4rem;
    font-size: 15px;
}

input[type="date"] {
    position: relative;;
    width: 100%;
    padding: .2rem;
    font-size: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    float: right;
}

.stars {
    display: flex;
    justify-content: space-between;
}

.star1, .star2, .star3, .star4, .star5 {
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
}

.apply {
    font-style: italic;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.checkbox label {
    padding: .2rem 0rem .2rem 0rem;
}

.textarea {
    display: block;
}

#textarea {
    width: 100%;
    font-size: 20px;
    min-height: 8rem;
}

.text {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    min-height: 2rem;
}

.postreview {
    width: 90%;
    margin: 0% 5% 2rem 5%;
    padding: .3rem;
    font-size: 18px;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    line-height: 1.6;
}

footer #lastModified {
    color: #ffff00;
}

/* Larger Views ******************************/
@media (min-width: 680px) {
	header {
		display: flex;
		align-items: center;
        justify-content: center;
	}
    header #h1{
        color: white;
        margin-bottom: 0px;
    }
    
    main {
        padding: 10px 40px;
        max-width: 1600px;
    }
}