:root {
    --primary-color: #031D44;
    --secondary-color: #0076B6;
    --third-color: #70A288;
    --fourth-color: #DAB785;
    --fifth-color: #D5896F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita" , sans-serif;
}

header h1{
    color: white;
}

header{
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
    padding: 9px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header .navigation{
    justify-content: center;
    background-color: black;
}

.navigation ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.navigation a {
	display: block;
	color: white;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

.navigation a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}

/* Larger Views ******************************/
@media (min-width: 700px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    header h1{
        color: white;
        margin-bottom: 0px;
    }
	.navigation ul {
		justify-content: flex-end;
		flex-direction: row;
        background-color: var(--secondary-color);
	}
	.navigation a {
		flex: 1 1 100%;
	}
}

main {
    margin: 10px 40px;
}

main h2 {
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.container {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    grid-gap: 25px;
    place-items: center;
}

figure {
    background-color:#fff;
    
}

img {
    width: 100%; 
    height: auto; 
}

figcaption {
    font-size: smaller;
    text-align: center;
}

@media (min-width: 700px) {
	main {
        padding: 10px 100px;
        max-width: 1600px;
    }
}




footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    line-height: 1.6;
    font-size: 100%;
}

footer #lastModified {
    color: yellow;
    font-size: 80%;
}

@media only screen and (max-width: 600px) {
    footer p {
        font-size: 70%;
    }

    footer #lastModified {
        font-size: 50%;
    }
  }